.profile__image-container {
    position: relative;
    block-size: fit-content;
    inline-size: fit-content;
    cursor: pointer;
}

.profile__image-container:hover .profile__image-overlay {
    visibility: initial;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.6s;
}
